<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="0; url=http://localhost:8000/">
    <title>E-mail has been sent!</title>
    <link rel="stylesheet" href="./styles.css">

</head>

<body>
    <h1 class="title-text1">E-mail has been sent!</h1>
    <a class="title-text1" href="http://localhost:8000/">Return back Home</h1>

</body>

</html>