@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* font-family: "Josefin Sans", sans-serif; */
/* #D5E0EA blue
  #F6E9E8 pink
  #D2E2CF green
  #d07256 brickred
  
  #5B6884 marineblue
  #98B6B8 teal
  #E5BDBB dusty pink
  #DCE1D9 brigh green calm
  #7E7878 grey brown
  #E9EBEF light blue
  #F6F4F2  white cotton
  #eee grey
  */

.header-area {
  padding: 2%;
  margin-bottom: 100px;
}

.header-area > h1 > img {
  height: 40px;
  margin-right: 25px;
  animation: backInUp;
  animation-duration: 1s;
}

.header-area > h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 5px;
  z-index: 1;
  margin-top: 150px;
}

.extension {
  background-color: #dce1d9;
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#wave {
  position: absolute;
  top: 400px;
  left: 0;
  margin: 0;
  display: block;
  z-index: -1;
}

/* button area */
/* hamburger */
.hamburger-container > button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
}

.hamburger-container > button:hover {
  outline: none;
  animation: swing;
  animation-duration: 1s;
}

.hamburger-container > button:focus {
  outline: none;
}

.hamburger-container > button:active {
  outline: none;
}

.hamburger-container > button > img {
  height: 40px;
}

.center {
  text-align: center;
  margin-top: 200px;
  font-family: "Josefin Sans", sans-serif;
}

.menutext {
  margin: 50px;
}

.menutext:hover {
  text-decoration: underline;
}

/* menu butoons */
.menu-area {
  text-align: center;
  margin-top: 30px;
}
.menu-area > button > img {
  height: 30px;
  margin-right: 15px;
  margin-bottom: -10px;
}

.menu-area > button {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  padding: 20px 15px;
  border-radius: 40px;
  margin: 20px 30px;
  border: none;
  background-color: #f6f4f2;
}
.menu-area > button:hover {
  background-color: #f6e9e8;
}
.menu-area > button:focus {
  outline: none;
}

.menu-area > button:active {
  outline: none;
}

/* content area */
.content-area {
  margin-top: 50px;
}

/* modal */
/* close button */
#close-btn {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  padding: 20px 15px;
  border: none;
  background-color: transparent;
  margin: 20px 30px;
}

#close-btn:hover {
  animation: rotateIn;
  animation-duration: 0.5s;
}

#close-btn:focus {
  outline: none;
}

#close-btn > img {
  height: 30px;
}

/* blobs */
#blob1 {
  position: absolute;
  top: 70%;
  right: 30px;
  margin: 0;
  z-index: -1;
  width: 200px;
}

#blob2 {
  position: absolute;
  top: 79%;
  left: 30px;
  margin: 0;
  z-index: -1;
  width: 200px;
}

#blob3 {
  position: absolute;
  top: 120%;
  left: 30px;
  margin: 0;
  z-index: -1;
  width: 400px;
}

#blob4 {
  position: absolute;
  top: 180%;
  right: 0px;
  margin: 0;
  z-index: -1;
  width: 600px;
}

#blob5 {
  position: absolute;
  top: 300%;
  left: 0px;
  margin: 0;
  z-index: -1;
  width: 200px;
}
