@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* font-family: "Josefin Sans", sans-serif; */

#wrapper {
  display: grid;
  grid-template-rows: 2;
}

.form-area {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  font-family: "Josefin Sans", sans-serif;
}
/* middle area  */
.form-area > #middle-space {
  margin-top: 30%;
}
/* text */
.form-area > #middle-space > .form-text {
  letter-spacing: 0.1em;
  font-size: 35px;
}
/* text image*/
.form-area > #middle-space > .form-text > img {
  height: 30px;
  margin-right: 10px;
}
/* middle area form */
.form-area > #middle-space > .form {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* form input box text */
#select-box {
  width: 200px;
}

.select-text {
  font-family: "Josefin Sans", sans-serif;
}

/* button area */
.btn-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10%;
}
/* continue button */
.btn-area > .continue-btn > #navigation-btn {
  color: blue;
  padding: 17px 27px;

  letter-spacing: 0.1em;
  border-radius: 5%;
  border: none;
  font-family: "Josefin Sans", sans-serif;
}

.btn-area > .continue-btn > #navigation-btn:hover {
  animation: headShake;
  animation-duration: 1s;
}

/* back button */
.btn-area > .back-btn > #navigation-btn {
  color: blue;
  padding: 17px 27px;
  letter-spacing: 0.1em;
  border-radius: 5%;
  border: none;
  font-family: "Josefin Sans", sans-serif;
}

.btn-area > .back-btn > #navigation-btn:hover {
  animation: headShake;
  animation-duration: 1s;
}

/* FORM 2 */

#wrapper > .form-area > #middle-space > .text-field-area {
  margin-bottom: 30px;
}
#wrapper > .form-area > #middle-space > .text-field > .text-field1 {
  margin: 20px;
}

/* text image*/
.form-area > #middle-space > .form-text > #form-text-image {
  height: 40px;
  margin-right: 10px;
}

/* FORM 3 */
.text-field-area1 {
  margin-bottom: 30px;
}

/* FORM 6 */
#outlined-basic {
  width: 300px;
}
